<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMIBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IMIData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>IMIKitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IMIUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF61AAF135597D00070316E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF61AB9135597D10070316E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF61AD9135597E40070316E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF61AE7135597ED0070316E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF61AF1135597ED0070316E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
